@model mi_proyecto_sena.Models.usuarioModel
{
<div class="container text-center w-75">
<h1>Registrarse</h1>
    <form asp-action="Register" asp-controller="usuario" method="post">
       <div class="form-group">
       <label for="usuario_Nombre">Nombre</label>
       <input type="text" class="form-control" id="usuario Nombre"name="usuario_Nombre" asp-for="usuario_Nombre" required />
       <span asp-validation-for="usuario_Nombre" class="text-danger"></span>  
</div> 

      <div class="form-group">
       <label for="usuario_Apellido">Apellido</label>
       <input type="text" class="form-control" id="usuario Apellido"name="usuario_Apellido" asp-for="usuario_Apellido" required />
       <span asp-validation-for="usuario_Apellido" class="text-danger"></span>
    
</div>

     <div class="form-group">
       <label for="usuario_Correo">correo</label>
       <input type="gmail" class="form-control" id="usuario Correo"name="usuario_Correo" asp-for="usuario_Correo" required />
       <span asp-validation-for="usuario_Correo" class="text-danger"></span>
</div>
     <div class="form-group">
       <label for="usuario_contraseña">contraseña</label>
       <input type="password" class="form-control" id="usuario contraseña"name="usuario_contraseña" asp-for="usuario_contraseña" required />
       <span asp-validation-for="usuario_contraseña" class="text-danger"></span>
   </div>
       <button type="submit" class="btn btn-primary"></button>
    </form>
</div>


